{% extends 'personal_area/main.html' %}
{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'personal_area/css/auth.css' %}">
{% endblock %}

{% block title %}
    {{ block.super }} - Авторизация
{% endblock %}

{% block content %}
    <div class="box">
        <form method="post" class="col-sm-4 text-white">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-outline-light">Submit</button>
        </form>
    </div>
{% endblock %}